body {
    margin: 0;
    background-color: #292929;
  
}

nav {
    position: absolute;
    top: 12rem;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);

}

nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before,
nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
}

nav a:nth-child(1):before {
    background-color: yellow;
}

nav a:nth-child(1):after {
    background-color: red;
}

nav a:nth-child(2):before {
    background-color: #00e2ff;
}

nav a:nth-child(2):after {
    background-color: #89ff00;
}

nav a:nth-child(3):before {
    background-color: purple;
}

nav a:nth-child(3):after {
    background-color: palevioletred;
}

#indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover {
    color: #fff;
}

nav a:hover:before,
nav a:hover:after {
    transform: scale(1);
}

nav a:nth-child(1):hover~#indicator {
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover~#indicator {
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover~#indicator {
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}

.cant {
    width: 100%;
    height: 5rem;
    background-color: #292929;
    
    
}
.logobox{
    display: flex;
    height: 10rem;
    /* background-color: #89ff00; */
}
.logo img {
    width: 9rem;
    height: 9rem;
    align-items: center;
    text-align: center;
}
.logo{
    width: 9rem;
    height: 9rem;
    border: 0.5rem solid white;
}

.textlogo{
    margin-top: 3rem;
    margin-left: 2rem;
    
    overflow: hidden;
}
.textlogo h1{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 4rem;
}













@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

.cant1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    overflow: hidden;
}

ul {
    position: relative;
}

ul li {
    list-style: none;
    text-align: center;
}

ul li a {
    color: #333;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}

ul:hover li a {
    color: #0002;
}

ul li:hover a {
    color: #000;
    background: rgba(255, 255, 255, 1);
}

ul li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

ul li a:hover:before {
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1800px;
    height: 1800px;
}

ul li:nth-child(6n+1) a:before {
    background: #81ecec;
}

ul li:nth-child(6n+2) a:before {
    background: #ff7675;
}

ul li:nth-child(6n+3) a:before {
    background: #55efc4;
}

ul li:nth-child(6n+4) a:before {
    background: #a29bfe;
}

ul li:nth-child(6n+5) a:before {
    background: #fd79a8;
}

ul li:nth-child(6n+6) a:before {
    background: #ffeaa7;
}




.cant2{
    width: 100%;
    height: 40rem;
    background-color: #292929;
    /* border: 0.3rem solid white; */
}

@media (max-width: 998px){
    .textlogo h1{
        font-size: 3rem;
        margin-left: 0rem;
    }
}


@media (max-width: 500px){
    .textlogo h1{
        font-size: 2rem;
        margin-left: 0rem;
        
    }
    .logo img {
        height: 6rem;
        width: 6rem;
    }
    .logo{
        height: 6rem;
        width: 6rem;
    }
}
